/*Add CSS styles here*/
/*Create style for main header*/
.regions {
    fill: #f9f9f9;
    stroke: #333;
    stroke-width: 0.5px;
}

.regions:hover {
    fill: #ffd700; /* Makes states highlight when you hover! */
}